@page "/Coins"
@using CryptoTracker.Web.Components
@inject ICoinMarketCapIDMapData mapData
<PageTitle>Market Watch</PageTitle>
<h3 class="text-center">Market Watch</h3>
@if (loading)
{
    <LoadingSpinner />
}
else
{
    <RadzenDataGrid Data="@CoinsData" TItem="CoinMarketCapIDMapModel" AllowPaging="true" AllowSorting="true" FilterMode="FilterMode.Simple" AllowFiltering="true">
        <Columns>
            <RadzenDataGridColumn TItem="CoinMarketCapIDMapModel" Property="Name" Title="Name" CssClass="text-center">
                <Template Context="coin">
                    <img class="coin-img" src="@("https://s2.coinmarketcap.com/static/img/coins/32x32/" + coin.Id + ".png")"> <a href="/Coin/@coin.Id" target="_blank">@coin.Name</a>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CoinMarketCapIDMapModel" Property="Rank" Title="Rank" CssClass="text-center" />
            <RadzenDataGridColumn TItem="CoinMarketCapIDMapModel" Property="Slug" Title="Slug" CssClass="text-center" />
        </Columns>
    </RadzenDataGrid>
}


@code {
    protected IEnumerable<CoinMarketCapIDMapModel> CoinsData { get; set; }
    bool loading = false;

    public Coins()
    {
        CoinsData = Enumerable.Empty<CoinMarketCapIDMapModel>();
    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        CoinsData = await mapData.GetCoinMap();
        loading = false;
    }
}
