@page "/Coins"

<h3>Coins</h3>

<table>
    <tr>
        <th>Id</th>
        <th>Rank</th>
        <th>Name</th>
        <th>Slug</th>
    </tr>
    @foreach(CoinMarketCapIDMapModel coin in CoinsData)
    {
    <tr>
        <td>@coin.Id</td>
        <td><a href="/Coin/@coin.Id">@coin.Rank</a></td>
        <td>@coin.Name</td>
        <td>@coin.Slug</td>
    </tr>
    }
</table>

@code {
    protected IEnumerable<CoinMarketCapIDMapModel> CoinsData { get; set; }

    public Coins()
    {
        CoinsData = Enumerable.Empty<CoinMarketCapIDMapModel>();
    }

    protected override async Task OnInitializedAsync()
    {
        CoinsData = await CoinMarketCapIDMapData.GetCoinMap();
    }
}
