@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the Crypto Proj3ct!</h1>

<div class="a">a</div>
<div class="b">a</div>
<div class="c">a</div>
<div class="d">a</div>
<div class="e">a</div>
<div class="f">a</div>
