@page "/Trending"

@using CryptoTracker.DataAccess.CoinGeckoAccess

@using CryptoTracker.Web.Components
@inject ICoinMarketCapData coinMarketCapData
@inject ICoinGeckoData coinGeckoData

<h2>Trending Coins</h2>
@if (loading)
{
    <LoadingSpinner />
}
else
{
    <RadzenDataGrid Data="@TrendingCoins" TItem="CoinGeckoTrendingModel" AllowPaging="true" AllowSorting="true" FilterMode="FilterMode.Simple" AllowFiltering="true">
        <Columns>
            <RadzenDataGridColumn TItem="CoinGeckoTrendingModel" Property="MarketCapRank" Title="#" CssClass="text-center"/>
            <RadzenDataGridColumn TItem="CoinGeckoTrendingModel" Property="Name" Title="Coin" CssClass="text-center">
                <Template Context="coin">
                    <img class="coin-img" src="@coin.ImagePath"> <a href="/Coin/@coin.Id">@coin.Name <small>(@coin.Symbol)</small></a>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {
    List<CoinGeckoTrendingModel> TrendingCoins { get; set; }
    bool loading = false;
    public Trending()
    {
        TrendingCoins = new();
    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        TrendingCoins = await coinGeckoData.GetTrending();
        loading = false;
    }
}
