@inherits LayoutComponentBase
@namespace MoonTrading.Shared

<PageTitle>Moon Trading</PageTitle>

<TopNav />
<ErrorBoundary>
    <ChildContent>
        @Body
    </ChildContent>
    <ErrorContent Context="ex">
        <p>@ex.Message</p> @*prints exeption on page*@
        <p>@ex.InnerException</p>
    </ErrorContent>
</ErrorBoundary>
