@namespace MoonTrading.Shared

<button type="button" class="btn btn-primary" @onclick="Toggle">
    <i class="fa-@(ticked ? "solid" : "regular") fa-star"></i>
</button>

@code {
    [Parameter]
    public bool ticked { get; set; } = false;
    [Parameter]
    public EventCallback<bool> OnToggle { get; set; }

    private async Task Toggle()
    {
        ticked = !ticked;
        if (OnToggle.HasDelegate)
        {
            await OnToggle.InvokeAsync(ticked);
        }
    }
}
