<RadzenCard>
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Trade">
                <input type="text" placeholder="Amount USD"/>
                <button>Purchase</button>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</RadzenCard>

@code {

}
