@using CryptoTracker.DataAccess.Twitter
<h3>Trending Tweets</h3>
<ul>
    @foreach (TwitterSearchModel tweet in twitterSearchModels)
    {
        <li> @((MarkupString)tweet.Text)</li>
    }
</ul>
@code {
    [Parameter]
    public string CoinName { get; set; } = "";

    private IEnumerable<TwitterSearchModel> twitterSearchModels { get; set; } = Enumerable.Empty<TwitterSearchModel>();
    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(CoinName))
        {
            twitterSearchModels = await TwitterSearch.ByCoin(CoinName);
        }
    }
}
