@using System.Security.Claims
@using CryptoTracker.DataAccess.Auth0
@using CryptoTracker.DataAccess.Auth0.Model

@inject AuthenticationStateProvider AuthState
@inject IUserFavoriteCoinData favoriteCoinData

<AuthorizeView>
    <Authorized>
        <h3 class="text-center">Favorites</h3>
        <RadzenDataGrid Data="@userFavoriteCoins" TItem="UserFavoriteCoinModel" AllowPaging="true" AllowSorting="true" PageSize="15">
            <Columns>
                <RadzenDataGridColumn TItem="UserFavoriteCoinModel" Property="Name" Title="Coin Name" CssClass="text-center">
                    <Template Context="coin">
                        <img class="coin-img" src="@("https://s2.coinmarketcap.com/static/img/coins/32x32/" + coin.CoinMarketCapId + ".png")"> <a href="/Coin/@coin.CoinGeckoId">@coin.Name</a>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="UserFavoriteCoinModel" Property="PurchaseDate" CssClass="text-center">
                    <Template Context="coin">
                        <button class="btn btn-danger" @onclick="(async () => await RemoveFavorite(coin.CoinGeckoId))">Remove Favorite</button>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </Authorized>
</AuthorizeView>

@code {
    private IEnumerable<UserFavoriteCoinModel> userFavoriteCoins { get; set; } = Enumerable.Empty<UserFavoriteCoinModel>();
    string userId = "";
    protected override async Task OnInitializedAsync()
    {
        await LoadFavorites();
    }

    private async Task LoadFavorites()
    {
        var state = await AuthState.GetAuthenticationStateAsync();
        if (state != null && state.User != null && state.User.Identity != null)
        {
            if (state.User.Identity.IsAuthenticated)
            {
                var tempUserClaim = state.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);
                if (tempUserClaim != null)
                {
                    userId = tempUserClaim.Value;
                    userFavoriteCoins = await favoriteCoinData.GetUserFavoriteCoins(userId);
                }
            }
        }
    }

    private async Task RemoveFavorite(string geckoId)
    {
        await favoriteCoinData.RemoveUserFavoriteCoin(userId, geckoId);
        userFavoriteCoins = userFavoriteCoins.Where(x => x.CoinGeckoId != geckoId);
        StateHasChanged();
    }
}
