@using CryptoTracker.Web.Components
@inherits LayoutComponentBase

<PageTitle>Moon Trading</PageTitle>


<TopNav />
<div class="pageWrap">
    <div class="page">

        <main>
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">

                    <p>@ex.Message</p> @*prints exeption on page*@
                    <p>@ex.InnerException</p>
                </ErrorContent>
            </ErrorBoundary>
        </main>
    </div>
</div>
