@using CryptoTracker.Web.Components
@inherits LayoutComponentBase

<PageTitle>Moon Trading</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AccessControl />
        </div>
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="ex">
                
                <p>@ex.Message</p> @*prints exeption on page*@
                <p>@ex.InnerException</p>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</div>
