@using CryptoTracker.Web.Components
<div class="topNav">
    @*<NavMenu />*@
    <div class="top-row px-4">
        <div class="nav-item px-3">
            <NavLink class="nav-link grow" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true" class="fa-solid fa-house"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link grow" href="/Coins">
                <span aria-hidden="true" class="fa-solid fa-coins"></span> Coins
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link grow" href="/Trending">
                <span aria-hidden="true" class="fa-solid fa-arrow-trend-up"></span> Trending
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link grow" href="/MyWallet">
                <span aria-hidden="true" class="fa-solid fa-vault"></span> My Wallet
            </NavLink>
        </div>
        @*<div class="nav-item px-3">*@
            <a id="darkmode-toggle" class="grow">
                <i class="fa fa-moon fa-2x darkmode-toggle-icon"></i>
                <i class="fa fa-sun fa-2x lightmode-toggle-icon"></i>
            </a>
        @*</div>*@
        <div class="nav-item px-3">
            <AccessControl />
        </div>


    </div>
</div>