@page "/"

<PageTitle>Home</PageTitle>

<div class="container main-container">
    <div class="row">
        <div class="col text-center">
            <h1>Welcome to MoonTrading Exchange!</h1>
            <p>
                MoonTrading is a platform that aims to assist users with understanding
                how to trade in the crypto market through paper-trading. Allowing
                users to perform paper trades with imaginary currency to prevent
                actual money loss during the learning phase. Moon Trading has
                complimentary Machine Learning price prediction models to assist with
                trading decisions.
            </p>
        </div>
    </div>
</div>
